.hasi{
    color: red ;
    margin-bottom: 12px;
    margin-left: 10px;
}
.number{
    margin-bottom: 54px;
    margin-left: 91px;
}
.pa{
    margin-bottom: 434px;
    margin-left: 10px;
}
.photo{
    margin-left: 79px;
}